.titulo, .titulo2{
    font-size: 50px;
    font-style: normal;
    text-align: center;
}

#nomeInicial{
    font-size: 40px;
    font-style: normal;
    text-align: center;
}
.container, .container2{
    border: solid;  
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
   
}
.principal{
    display: flex;
    align-items:stretch;
    justify-content: center;
}
  
.container p {
    color: green;
    font-weight: bolder;
}
.container2 p {
    color: red;
    font-weight: bolder;
}